In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [4]:
mydf = spark.read.parquet("s3://zandras3/502final/df.parquet/*")

In [5]:
mydf.printSchema()

root
 |-- GLOBALEVENTID: string (nullable = true)
 |-- SQLDATE: string (nullable = true)
 |-- MonthYear: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- FractionDate: string (nullable = true)
 |-- Actor1Code: string (nullable = true)
 |-- Actor1Name: string (nullable = true)
 |-- Actor1CountryCode: string (nullable = true)
 |-- Actor1KnownGroupCode: string (nullable = true)
 |-- Actor1EthnicCode: string (nullable = true)
 |-- Actor1Religion1Code: string (nullable = true)
 |-- Actor1Religion2Code: string (nullable = true)
 |-- Actor1Type1Code: string (nullable = true)
 |-- Actor1Type2Code: string (nullable = true)
 |-- Actor1Type3Code: string (nullable = true)
 |-- Actor2Code: string (nullable = true)
 |-- Actor2Name: string (nullable = true)
 |-- Actor2CountryCode: string (nullable = true)
 |-- Actor2KnownGroupCode: string (nullable = true)
 |-- Actor2EthnicCode: string (nullable = true)
 |-- Actor2Religion1Code: string (nullable = true)
 |-- Actor2Religion2Code: string (nullable = true)
 |-- Actor2Type1Code: string (nullable = true)
 |-- Actor2Type2Code: string (nullable = true)
 |-- Actor2Type3Code: string (nullable = true)
 |-- IsRootEvent: string (nullable = true)
 |-- EventCode: string (nullable = true)
 |-- EventBaseCode: string (nullable = true)
 |-- EventRootCode: string (nullable = true)
 |-- QuadClass: string (nullable = true)
 |-- GoldsteinScale: string (nullable = true)
 |-- NumMentions: string (nullable = true)
 |-- NumSources: string (nullable = true)
 |-- NumArticles: string (nullable = true)
 |-- AvgTone: string (nullable = true)
 |-- Actor1Geo_Type: string (nullable = true)
 |-- Actor1Geo_FullName: string (nullable = true)
 |-- Actor1Geo_CountryCode: string (nullable = true)
 |-- Actor1Geo_ADM1Code: string (nullable = true)
 |-- Actor1Geo_Lat: string (nullable = true)
 |-- Actor1Geo_Long: string (nullable = true)
 |-- Actor1Geo_FeatureID: string (nullable = true)
 |-- Actor2Geo_Type: string (nullable = true)
 |-- Actor2Geo_FullName: string (nullable = true)
 |-- Actor2Geo_CountryCode: string (nullable = true)
 |-- Actor2Geo_ADM1Code: string (nullable = true)
 |-- Actor2Geo_Lat: string (nullable = true)
 |-- Actor2Geo_Long: string (nullable = true)
 |-- Actor2Geo_FeatureID: string (nullable = true)
 |-- ActionGeo_Type: string (nullable = true)
 |-- ActionGeo_FullName: string (nullable = true)
 |-- ActionGeo_CountryCode: string (nullable = true)
 |-- ActionGeo_ADM1Code: string (nullable = true)
 |-- ActionGeo_Lat: string (nullable = true)
 |-- ActionGeo_Long: string (nullable = true)
 |-- ActionGeo_FeatureID: string (nullable = true)
 |-- DATEADDED: string (nullable = true)
 |-- SOURCEURL: string (nullable = true)

In [6]:
mydf.show(5)

+-------------+--------+---------+----+------------+----------+----------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+----------+------------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+-----------+---------+-------------+-------------+---------+--------------+-----------+----------+-----------+-----------------+--------------+------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+---------+--------------------+
|GLOBALEVENTID| SQLDATE|MonthYear|Year|FractionDate|Actor1Code|Actor1Name|Actor1CountryCode|Actor1KnownGroupCode|Actor1EthnicCode|Actor1Religion1Code|Actor1Religion2Code|Actor1Type1Code|Actor1Type2Code|Actor1Type3Code|Actor2Code|  Actor2Name|Actor2CountryCode|Actor2KnownGroupCode|Actor2EthnicCode|Actor2Religion1Code|Actor2Religion2Code|Actor2Type1Code|Actor2Type2Code|Actor2Type3Code|IsRootEvent|EventCode|EventBaseCode|EventRootCode|QuadClass|GoldsteinScale|NumMentions|NumSources|NumArticles|          AvgTone|Actor1Geo_Type|Actor1Geo_FullName|Actor1Geo_CountryCode|Actor1Geo_ADM1Code|Actor1Geo_Lat|Actor1Geo_Long|Actor1Geo_FeatureID|Actor2Geo_Type|  Actor2Geo_FullName|Actor2Geo_CountryCode|Actor2Geo_ADM1Code|Actor2Geo_Lat|Actor2Geo_Long|Actor2Geo_FeatureID|ActionGeo_Type|  ActionGeo_FullName|ActionGeo_CountryCode|ActionGeo_ADM1Code|ActionGeo_Lat|ActionGeo_Long|ActionGeo_FeatureID|DATEADDED|           SOURCEURL|
+-------------+--------+---------+----+------------+----------+----------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+----------+------------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+-----------+---------+-------------+-------------+---------+--------------+-----------+----------+-----------+-----------------+--------------+------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+---------+--------------------+
|    611051912|20151224|   201512|2015|   2015.9699|          |          |                 |                    |                |                   |                   |               |               |               |       BUS|    BUSINESS|                 |                    |                |                   |                   |            BUS|               |               |          1|      042|          042|           04|        1|           1.9|         10|         1|         10| 0.70257611241218|             0|                  |                     |                  |             |              |                   |             4|Tanjung, Pahang, ...|                   MY|              MY06|      3.81667|       103.342|              94819|             4|Tanjung, Pahang, ...|                   MY|              MY06|      3.81667|       103.342|              94819| 20161223|http://www.thesta...|
|    611051913|20151224|   201512|2015|   2015.9699|          |          |                 |                    |                |                   |                   |               |               |               |       GOV|     EMPEROR|                 |                    |                |                   |                   |            GOV|               |               |          0|      010|          010|           01|        1|           0.0|          6|         1|          6|-0.73937153419593|             0|                  |                     |                  |             |              |                   |             4| Tokyo, Tokyo, Japan|                   JA|              JA40|       35.685|       139.751|            -246227|             5| Iwate, Iwate, Japan|                   JA|              JA16|       39.596|        141.36|            -231099| 20161223|http://asia.nikke...|
|    611051914|20151224|   201512|2015|   2015.9699|          |          |                 |                    |                |                   |                   |               |               |               |       GOV|     EMPEROR|                 |                    |                |                   |                   |            GOV|               |               |          0|      010|          010|           01|        1|           0.0|          2|         1|          2|-0.73937153419593|             0|                  |                     |                  |             |              |                   |             1|            Thailand|                   TH|                TH|           15|           100|                 TH|             4| Tokyo, Tokyo, Japan|                   JA|              JA40|       35.685|       139.751|            -246227| 20161223|http://asia.nikke...|
|    611051915|20151224|   201512|2015|   2015.9699|          |          |                 |                    |                |                   |                   |               |               |               |       GOV|     EMPEROR|                 |                    |                |                   |                   |            GOV|               |               |          0|      042|          042|           04|        1|           1.9|          2|         1|          2|-0.73937153419593|             0|                  |                     |                  |             |              |                   |             1|            Thailand|                   TH|                TH|           15|           100|                 TH|             1|            Thailand|                   TH|                TH|           15|           100|                 TH| 20161223|http://asia.nikke...|
|    611051916|20151224|   201512|2015|   2015.9699|          |          |                 |                    |                |                   |                   |               |               |               |       MYS|KUALA LUMPUR|              MYS|                    |                |                   |                   |               |               |               |          1|      043|          043|           04|        1|           2.8|          2|         1|          2| 0.70257611241218|             0|                  |                     |                  |             |              |                   |             4|Kuala Lumpur, Kua...|                   MY|              MY14|      3.16667|         101.7|           -2403010|             4|Tanjung, Pahang, ...|                   MY|              MY06|      3.81667|       103.342|              94819| 20161223|http://www.thesta...|
+-------------+--------+---------+----+------------+----------+----------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+----------+------------+-----------------+--------------------+----------------+-------------------+-------------------+---------------+---------------+---------------+-----------+---------+-------------+-------------+---------+--------------+-----------+----------+-----------+-----------------+--------------+------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+--------------+--------------------+---------------------+------------------+-------------+--------------+-------------------+---------+--------------------+
only showing top 5 rows

In [7]:
df_feat = mydf.select(mydf.SQLDATE, mydf.MonthYear, mydf.Year, 
                      mydf.Actor2Code, mydf.Actor2Name, mydf.Actor2CountryCode, 
                      mydf.QuadClass, mydf.GoldsteinScale, mydf.NumSources, 
                      mydf.AvgTone, mydf.Actor1Geo_Type, mydf.Actor1Geo_CountryCode,
                     mydf.Actor1Geo_Lat, mydf.Actor1Geo_Long, mydf.Actor2Geo_Type, 
                      mydf.Actor2Geo_CountryCode, mydf.Actor2Geo_Lat, mydf.Actor2Geo_Long,
                     mydf.ActionGeo_Type, mydf.ActionGeo_CountryCode,
                     mydf.ActionGeo_Lat, mydf.ActionGeo_Long)

In [8]:
df_feat.printSchema()

root
 |-- SQLDATE: string (nullable = true)
 |-- MonthYear: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Actor2Code: string (nullable = true)
 |-- Actor2Name: string (nullable = true)
 |-- Actor2CountryCode: string (nullable = true)
 |-- QuadClass: string (nullable = true)
 |-- GoldsteinScale: string (nullable = true)
 |-- NumSources: string (nullable = true)
 |-- AvgTone: string (nullable = true)
 |-- Actor1Geo_Type: string (nullable = true)
 |-- Actor1Geo_CountryCode: string (nullable = true)
 |-- Actor1Geo_Lat: string (nullable = true)
 |-- Actor1Geo_Long: string (nullable = true)
 |-- Actor2Geo_Type: string (nullable = true)
 |-- Actor2Geo_CountryCode: string (nullable = true)
 |-- Actor2Geo_Lat: string (nullable = true)
 |-- Actor2Geo_Long: string (nullable = true)
 |-- ActionGeo_Type: string (nullable = true)
 |-- ActionGeo_CountryCode: string (nullable = true)
 |-- ActionGeo_Lat: string (nullable = true)
 |-- ActionGeo_Long: string (nullable = true)

In [9]:
df_feat.show(15)

+--------+---------+----+----------+------------+-----------------+---------+--------------+----------+-----------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+
| SQLDATE|MonthYear|Year|Actor2Code|  Actor2Name|Actor2CountryCode|QuadClass|GoldsteinScale|NumSources|          AvgTone|Actor1Geo_Type|Actor1Geo_CountryCode|Actor1Geo_Lat|Actor1Geo_Long|Actor2Geo_Type|Actor2Geo_CountryCode|Actor2Geo_Lat|Actor2Geo_Long|ActionGeo_Type|ActionGeo_CountryCode|ActionGeo_Lat|ActionGeo_Long|
+--------+---------+----+----------+------------+-----------------+---------+--------------+----------+-----------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+
|20151224|   201512|2015|       BUS|    BUSINESS|                 |        1|           1.9|         1| 0.70257611241218|             0|                     |             |              |             4|                   MY|      3.81667|       103.342|             4|                   MY|      3.81667|       103.342|
|20151224|   201512|2015|       GOV|     EMPEROR|                 |        1|           0.0|         1|-0.73937153419593|             0|                     |             |              |             4|                   JA|       35.685|       139.751|             5|                   JA|       39.596|        141.36|
|20151224|   201512|2015|       GOV|     EMPEROR|                 |        1|           0.0|         1|-0.73937153419593|             0|                     |             |              |             1|                   TH|           15|           100|             4|                   JA|       35.685|       139.751|
|20151224|   201512|2015|       GOV|     EMPEROR|                 |        1|           1.9|         1|-0.73937153419593|             0|                     |             |              |             1|                   TH|           15|           100|             1|                   TH|           15|           100|
|20151224|   201512|2015|       MYS|KUALA LUMPUR|              MYS|        1|           2.8|         1| 0.70257611241218|             0|                     |             |              |             4|                   MY|      3.16667|         101.7|             4|                   MY|      3.81667|       103.342|
|20151224|   201512|2015|       VNM|     VIETNAM|              VNM|        1|           4.0|         1|-0.73937153419593|             0|                     |             |              |             4|                   JA|       35.685|       139.751|             4|                   JA|       35.685|       139.751|
|20151224|   201512|2015|          |            |                 |        1|           2.8|         1| 0.70257611241218|             4|                   MY|      3.16667|         101.7|             0|                     |             |              |             4|                   MY|      3.16667|         101.7|
|20151224|   201512|2015|          |            |                 |        4|          -5.0|         1|-2.13114754098361|             4|                   KS|      37.6501|        127.77|             0|                     |             |              |             4|                   KS|      37.6501|        127.77|
|20151224|   201512|2015|       KOR| SOUTH KOREA|              KOR|        4|          -5.0|         1|-2.13114754098361|             4|                   KS|      37.6501|        127.77|             4|                   KS|      37.6501|        127.77|             4|                   KS|      37.6501|        127.77|
|20151224|   201512|2015|    MNCKOR|     SAMSUNG|              KOR|        4|          -5.0|         1|-2.13114754098361|             4|                   KS|      37.6501|        127.77|             4|                   KS|      37.6501|        127.77|             4|                   KS|      37.6501|        127.77|
|20151224|   201512|2015|       CHR|   CHRISTIAN|                 |        1|           0.0|        18|-3.47394540942928|             4|                   IT|         41.9|       12.4833|             4|                   IT|         41.9|       12.4833|             4|                   IT|         41.9|       12.4833|
|20151224|   201512|2015|       USA|   LAS VEGAS|              USA|        1|           0.0|        96|-7.40210103503494|             0|                     |             |              |             0|                     |             |              |             0|                     |             |              |
|20151224|   201512|2015|          |            |                 |        3|          -7.0|        13|-6.59469154203185|             4|                   GM|      52.5167|          13.4|             0|                     |             |              |             1|                   TS|           34|             9|
|20151224|   201512|2015|       USA|     WYOMING|              USA|        3|          -4.0|        17|-2.22928472610392|             2|                   US|      42.7475|      -107.209|             2|                   US|      42.7475|      -107.209|             2|                   US|      42.7475|      -107.209|
|20151224|   201512|2015|          |            |                 |        1|           4.0|         1|  3.3175355450237|             4|                   UK|         51.5|     -0.116667|             0|                     |             |              |             4|                   UK|      51.5333|     -0.083333|
+--------+---------+----+----------+------------+-----------------+---------+--------------+----------+-----------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+--------------+---------------------+-------------+--------------+
only showing top 15 rows

In [10]:
from pyspark.sql.functions import avg

In [13]:
tone = df_feat.select("Year","AvgTone").groupBy("Year").agg(avg("AvgTone"))

In [14]:
tone.head(10)

[Row(Year='2016', avg(AvgTone)=-2.092142628981268),
 Row(Year='2006', avg(AvgTone)=-1.5654240261469206),
 Row(Year='2007', avg(AvgTone)=-1.4407238930749484),
 Row(Year='2015', avg(AvgTone)=-2.121795877376201)]

In [ ]:
tones_pd = tone.toPandas()

In [ ]:
tones_pd

In [16]:
# df_feat = df_feat.withColumn("AvgTone", df_feat["AvgTone"].cast("double"))

In [18]:
import dask
import dask.dataframe as dd

In [22]:
mydf.write.save("s3://zandras3/502final/news.csv", format='csv', header=True)